<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CS372-Fall2024-GroupA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CourseEntryServlet</display-name>
    <servlet-name>CourseEntryServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.CourseEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEntryServlet</servlet-name>
    <url-pattern>/CourseEntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmailServlet</display-name>
    <servlet-name>ChangeEmailServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.ChangeEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmailServlet</servlet-name>
    <url-pattern>/ChangeEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CyberAttackServlet</display-name>
    <servlet-name>CyberAttackServlet</servlet-name>
    <servlet-class>LearnSE.ServletFiles.CyberAttackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CyberAttackServlet</servlet-name>
    <url-pattern>/CyberAttackServlet</url-pattern>
  </servlet-mapping>
</web-app>